<div class="body d-flex align-items-center py-4">
  <div class="main form-signin w-100 m-auto">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-floating">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", id:"floatingName", placeholder: "Name" %>
        <%= f.label :name, "Name", for: "floatingName" %>
      </div>

      <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id:"floatingEmail", placeholder: "name@example.com" %>
        <%= f.label :email, "Email", for: "floatingEmail" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="notice">
          Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        </div>
      <% end %>

      <div class="form-floating">
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', id:"floatingPassword", placeholder: 'Password' %>
        <%= f.label :password, "Password", for:"floatingPassword" %>
        <i>(leave blank if you don't want to change it)</i>
        <% if @minimum_password_length %>
          <br>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="form-floating">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', id: "floatingPasswordConfirmation", placeholder: "Password Confirmation" %>
        <%= f.label :password_confirmation, "Password Confirmation", for:"floatingPasswordConfirmation" %>
      </div>

      <div class="form-floating">
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control', id:"floatingCurrentPassword", placeholder: 'Current password' %>
        <%= f.label :current_password, "Current Password", for:"currentPassword" %>
        <i class="form-text">(we need your current password to confirm your changes)</i>
      </div>

        <%= f.submit "Update", class: 'btn btn-primary w-100 py-2' %>
    <% end %>

    <h3 class="mt-5">Cancel my account</h3>

    <p>
      Unhappy?
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger mt-2' %>
    </p>

    <%= link_to "Back", :back, class: 'd-block mt-3' %>
  </div>
</div>