<body class="d-flex align-items-center py-4 bg-body-tertiary">
  <main class="form-signin w-100 m-auto">
    <form class="text-center">
      <%= image_tag "image.png", class: "mb-4", alt: "", width: 72, height: 57, loading: "lazy" %>
      <h1 class="h3 mb-3 fw-normal">Sign in</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <ul>
        <% if notice %>
          <li class="notice"><%= notice %></li>
        <% end %>

        <% if alert %>
          <li class="alert"><%= alert %></li>
        <% end %>
      </ul>

      <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "floatingInput", placeholder: "name@example.com" %>
        <%= f.label :email, "Email", for: "floatingInput" %>
      </div>

      <div class="form-floating">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "floatingPassword", placeholder: "Password" %>
        <%= f.label :password, "Password", for: "floatingPassword" %>

      </div>

      <div class="form-check text-start my-3">
        <input class="form-check-input" type="checkbox" value="remember-me" id="checkDefault">
        <label class="form-check-label" for="checkDefault">
          remember-me
        </label>
      </div>
      <%= f.submit "Sign in", class: "btn btn-primary w-100 py-2" %>
      <% end %>

    <%= render "devise/shared/links" %>
   </form>
  </main>
</body>

</html>